/* Links em geral */

a {
    color: orangered;
    text-decoration: none; 
    /* Tira o sublinhado do link */
}

/* Links já visitados */
a:visited {
    color: green;
}

/* Link enquanto o mouse está sobre ele */
a:hover {
    /*color:orange;*/
    filter: brightness(150%); /* Cor 50% mais brilhante*/
    text-decoration: underline; /* Volta o sublinhado */
}